[project]
	description = Generic version of the scripts used to deploy the Medical Informatics Platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ludovic Claude (ludovicc)
[access "refs/for/refs/*"]
	read = group user/Ludovic Claude (ludovicc)
	push = group user/Ludovic Claude (ludovicc)
	label-Code-Review = -2..+2 group user/Ludovic Claude (ludovicc)
	label-Verified = -1..+1 group user/Ludovic Claude (ludovicc)
	rebase = group user/Ludovic Claude (ludovicc)
	removeReviewer = group user/Ludovic Claude (ludovicc)
	submit = group user/Ludovic Claude (ludovicc)
[access "refs/heads/*"]
	read = group user/Ludovic Claude (ludovicc)
	create = group user/Ludovic Claude (ludovicc)
	push = +force group user/Ludovic Claude (ludovicc)
	pushMerge = group user/Ludovic Claude (ludovicc)
[access "refs/tags/*"]
	push = group user/Ludovic Claude (ludovicc)
	push = +force group user/Ludovic Claude (ludovicc)
